@model IEnumerable<Cinema.Domain.Assegnamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <form asp-action="SvuotaSala" asp-controller="Assegnamento">
            <div class="form-group">
                <label class="control-label"></label>
                <select class ="form-control" name="IdSala">
                    @foreach (var item in Model)
                {
                    <option value="@item.IdSala">@item.IdSala</option>
                }
                </select>
            </div>
            <div class="col-md-3 my-auto">
                <button type="submit" class="btn btn-primary">Svuota Sala</button>
            </div>
    </form>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spettatore)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spettatore.Cognome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
